<app-header [title]="'Asset Overview'"></app-header>
<ion-content>
  <div class="content-wrapper" *ngIf="(mockData) as data">
    <section class="top-section">
      <div class="content-title">
        <h3>{{ data.topic }}</h3>
        <span>{{ data.alias }}</span>
      </div>
      <ion-item class="row-detail" lines="full"></ion-item>
      <ion-item *ngFor="let item of data?.summary" class="row-detail" lines="full">
        <ion-label>{{ item.label }}</ion-label>
        <ion-note color="light" slot="end">{{ item.value }} {{ item.unit }}</ion-note>
      </ion-item>
    </section>
    <section class="bottom-section">
      <h4>{{ data.about.label }}</h4>
      <p>{{ data.about.value }}</p>

      <div *ngFor="let item of data?.supportingDocs" class="expandable-row">
        <ion-label>{{ item }}</ion-label>
      </div>
    </section>
  </div>
</ion-content>
<ion-footer translucent="true">
  <ion-button color="danger" shape="round" fill="outline">Sell</ion-button>
  <ion-button shape="round" fill="outline" (click)="buy()">Buy</ion-button>
</ion-footer>